[Unit]
Description=Sonarqube 26
After=syslog.target network.target


[Service]
Type=forking

ExecStart=/home/sonarqube/sonarqube-10.6.0.92116/bin/linux-x86-64/sonar.sh start
ExecStop=/home/sonarqube/sonarqube-10.6.0.92116/bin/linux-x86-64/sonar.sh  stop
ExecReload=/home/sonarqube/sonarqube-10.6.0.92116/bin/linux-x86-64/sonar.sh restart


User=sonarqube
Group=sonarqube
Restart=always

LimitNOFILE=65536
LimitNPROC=8192


[Install]
WantedBy=multi-user.target