[Unit]
Description=Sonarqube 26
After=network.target network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/sonarqube/sonarqube-26.2.0.119303/bin/linux-x86-64/sonar.sh start
ExecStop=/home/sonarqube/sonarqube-26.2.0.119303/bin/linux-x86-64/sonar.sh stop
ExecReload=/home/sonarqube/sonarqube-26.2.0.119303/bin/linux-x86-64/sonar.sh restart
Environment="JAVA_HOME=/usr/lib/jvm/java-17-openjdk"
Environment="SONAR_JAVA_PATH=/usr/lib/jvm/java-17-openjdk/bin/java"
Environment="PATH=/usr/lib/jvm/java-17-openjdk/bin:/usr/bin:/bin"
Type=forking
User=sonarqube
Group=sonarqube
Restart=always


[Install]
WantedBy=multi-user.target