[Unit]
Description=Sonarqube 26
After=network.target network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/sonarqube/sonarqube-26.2.0.119303/bin/linux-x86-64/sonar.sh start
ExecStop=/home/sonarqube/sonarqube-26.2.0.119303/bin/linux-x86-64/sonar.sh stop
ExecReload=/home/sonarqube/sonarqube-26.2.0.119303/bin/linux-x86-64/sonar.sh restart
Environment="JAVA_HOME=/opt/java21"
Environment="SONAR_JAVA_PATH=/opt/java21/bin/java"
Environment="PATH=/opt/java21/bin:/usr/bin:/bin"
Type=forking
User=sonarqube
Group=sonarqube


LimitNOFILE=65536
LimitNPROC=8192
Restart=always

[Install]
WantedBy=multi-user.target